/*新建会场弹出框*/
.div_addmeetingroom_box
{
	z-index: 6;
	position:fixed;
	margin-left: 440px;
	margin-top: 200px;
	width: 400px;
	height: 325px;
	background-color: white;
	border: 1px solid black;
	visibility: hidden;
}

.div_addmeetingroom_box_top
{
	margin-top: 12px;
	margin-left: 15px;
	width: 375px;
	height: 30px;
	border-bottom: 1px solid black;
	float: left;
}

.a_addmeetingroom_box_close
{
	margin-top: -20px;
	margin-right: 0px;
	float: right;
}

.div_addmeetingroom_box_middle
{
	margin-left: 15px;
	width: 370px;
	height: 230px;
	float: left;
}

.div_addmeetingroom_box_name
{
	margin-top: 40px;
	margin-left: 30px;
	width: 70px;
	height: 20px;
	float: left;
}

.text_addmeetingroom_box_name
{
	margin-top: 35px;
	margin-left: 10px;
	width: 220px;
	float: left;
}

.div_addmeetingroom_box_number
{
	margin-top: 35px;
	margin-left: 30px;
	width: 70px;
	height: 20px;
	float: left;
}

.text_addmeetingroom_box_number
{
	margin-top: 30px;
	margin-left: 10px;
	width: 220px;
	float: left;
}

.div_addmeetingroom_box_ip
{
	margin-top: 35px;
	margin-left: 30px;
	width: 70px;
	height: 20px;
	float: left;
}

.text_addmeetingroom_box_ip
{
	margin-top: 30px;
	margin-left: 10px;
	width: 220px;
	float: left;
}

.div_addmeetingroom_box_bottom
{
	margin-left: 130px;
	width: 145px;
	height: 27px;
	float: left;
}

.button_addmeetingroom_box_cancel
{
	margin-left: 5px;
}

/*新建组弹出框*/
.div_addgroup_box
{
	z-index: 6;
	position:fixed;
	margin-left: 440px;
	margin-top: 200px;
	width: 400px;
	height: 325px;
	background-color: white;
	border: 1px solid black;
	visibility: hidden;
}

.div_addgroup_box_top
{
	margin-top: 12px;
	margin-left: 15px;
	width: 375px;
	height: 30px;
	border-bottom: 1px solid black;
	float: left;
}

.a_addgroup_box_close
{
	margin-top: -20px;
	margin-right: 0px;
	float: right;
}

.div_addgroup_box_middle
{
	margin-left: 15px;
	width: 370px;
	height: 230px;
	float: left;
}

.div_addgroup_box_name
{
	margin-top: 95px;
	margin-left: 30px;
	width: 70px;
	height: 20px;
	float: left;
}

.text_addgroup_box_name
{
	margin-top: 90px;
	margin-left: 10px;
	width: 220px;
	float: left;
}

.div_addgroup_box_bottom
{
	margin-left: 130px;
	width: 145px;
	height: 27px;
	float: left;
}

.button_addgroup_box_cancel
{
	margin-left: 5px;
}

/*div_addrbook_copy_box*/
.div_addrbook_copy_box
{
	z-index: 6;
	position:fixed;
	margin-left: 440px;
	margin-top: 100px;
	width: 400px;
	height: 470px;
	background-color: white;
	border: 1px solid black;
	visibility: hidden;
}

.div_addrbook_copy_box .div_addrbook_copy_box_top
{
	margin-top: 12px;
	margin-left: 15px;
	width: 375px;
	height: 30px;
	border-bottom: 1px solid black;
	float: left;
}

.div_addrbook_copy_box .div_addrbook_copy_box_top .a_addrbook_copy_box_close
{
	margin-top: -20px;
	margin-right: 0px;
	float: right;
}

.div_addrbook_copy_box .div_addrbook_copy_box_middle
{
	margin-top: 10px;
	margin-left: 40px;
	width: 310px;
	height: 350px;
	float: left;
}

.div_addrbook_copy_box .div_addrbook_copy_box_middle .div_search
{
	width:310px;
}

.div_addrbook_copy_box .div_addrbook_copy_box_middle .div_search .text_search
{
	width:290px;
}

.div_addrbook_copy_box_wraper
{
	width:310px;
	height:250px;
	float: left;
} 

.div_addrbook_copy_box_list
{
	height:22px;
	width:310px;
	margin-top: 5px;
	margin-left: 0px;
	float: left;
}

.div_addrbook_copy_box_list .div_addrbook_copy_box_level
{
	height:22px;
	width:265px;
	float: left;
	border-bottom: 1px dashed #ECECEC;
}

.div_addrbook_copy_box_list .btn_addrbook_copy_box_back
{
	margin-left: 5px;
	height:22px;
	width:40px;
	float: left;
}

.div_addrbook_copy_box_list .div_addrbook_copy_box_list_head
{
	margin-top: 5px;
	height: 20px;
	width: 310px;
	float: left;
}

.div_addrbook_copy_box_list .div_addrbook_copy_box_list_head .div_addrbook_copy_box_list_head_no
{
	height: 20px;
	width: 40px;
	display: inline;
	float: left;
}

.div_addrbook_copy_box_list .div_addrbook_copy_box_list_head .div_addrbook_copy_box_list_head_name
{
	height: 20px;
	width: 270px;
	display: inline;
	float: left;
}

.div_addrbook_copy_box_list_item
{
	margin-top: 5px;
	height: 22px;
	width: 310px;
	float: left;
}

.div_addrbook_copy_box_list_item .div_addrbook_copy_box_list_item_no
{
	height: 22px;
	width: 40px;
	display: inline;
	float: left;
}

.div_addrbook_copy_box_list_item .div_addrbook_copy_box_list_item_name
{
	height: 22px;
	width: 270px;
	display: inline;
	float: left;
}

.div_addrbook_copy_box .div_addrbook_copy_box_bottom
{
	margin-left: 130px;
	width: 145px;
	height: 27px;
	float: left;
}

.button_addrbook_copy_box_cancel
{
	margin-left: 5px;
}

/*div_globlegroup_box*/
.div_globlegroup_box
{
	z-index: 6;
	position:fixed;
	margin-left: 250px;
	margin-top: 100px;
	width: 720px;
	height: 540px;
	background-color: white;
	border: 1px solid black;
	visibility: hidden;
}

.div_globlegroup_box .div_globlegroup_box_top
{
	margin-top: 12px;
	margin-left: 15px;
	width: 690px;
	height: 30px;
	border-bottom: 1px solid #ECECEC;
	float: left;
}

.div_globlegroup_box .div_globlegroup_box_top .a_globlegroup_box_close
{
	margin-top: -20px;
	margin-right: 0px;
	float: right;
}

.div_globlegroup_box .div_globlegroup_box_middle
{
	margin-top: 25px;
	margin-left: 30px;
	width: 660px;
	height: 390px;
	float: left;
}

.div_globlegroup_middle_globle
{
	height:388px;
	width:275px;
	float: left;
	border: 1px solid #ECECEC;
	float: left;
}

.div_globle_list_title
{
	height: 35px;
	width: 275px;
	border-bottom: 1px solid #ECECEC;
	float: left;
}

.div_globle_list_title font
{
	margin-top: 10px;
	margin-left: 15px;
	float: left;
}

.div_globlegroup_middle_globle .div_search
{
	margin-top: 10px;
	margin-left:10px;
	width:255px;
	float: left;
}

.div_globlegroup_middle_globle .div_search .text_search
{
	width:235px;
}



.div_globlegroup_middle_checked
{
	margin-left: 15px;
	height:388px;
	width:275px;
	float: left;
	border: 1px solid #ECECEC;
	float: left;
}

.div_globle_list_checked_title
{
	height: 35px;
	width: 275px;
	border-bottom: 1px solid #ECECEC;
	float: left;
}

.div_globle_list_checked_title font
{
	margin-top: 10px;
	margin-left: 15px;
	float: left;
}

/*会场列表*/
.div_list_meettingroom
{
	float: left;
	height: 300px;
	width: 275px;
	margin-top: 10px;
}

.div_list_meettingroom .div_list_head
{
	float: left;
	height: 20px;
	width: 275px;
}

.div_list_meettingroom .div_list_head .div_list_head_checkbox
{
	float: left;
	height: 20px;
	width: 60px;
}

.div_list_meettingroom .div_list_head .div_list_head_checkbox input
{
	width: 20px;
	float: left;
}

.div_list_meettingroom .div_list_head .div_list_head_name
{
	float: left;
	height: 20px;
	width: 215px;
}

.div_list_meettingroom .wraper
{
	width:275px;
	height:280px;
	float: left;
}

.div_list_meettingroom .div_list_item
{
	margin-top: 5px;
	height: 45px;
	width: 268px;
	float: left;
}

.div_list_meettingroom .div_list_item input
{
	width: 20px;
	float: left;
}

.div_list_meettingroom .div_list_item .div_list_item_online
{
	height: 45px;
	width: 40px;
	display: inline;
	float: left;
}

.div_list_meettingroom .div_list_item .div_list_item_type
{
	height: 20px;
	width: 30px;
	display: inline;
	float: left;
}

.div_list_meettingroom .div_list_item .div_list_item_name
{
	height: 20px;
	width: 170px;
	float: left;
	display: inline;
}

.div_list_meettingroom .div_list_item .div_list_item_number
{
	height: 25px;
	width: 100px;
	display: inline;
	float: left;
}

.div_list_meettingroom .div_list_item .div_list_item_ip
{
	height: 25px;
	width: 100px;
	display: inline;
	float: left;
}

.div_globlegroup_box_middle_handle
{
	margin-left: 15px;
	margin-top: 80px;
	width: 70px;
	height: 200px;
	float: left;
}

.div_globlegroup_box_middle_handle input
{
	float: left;
	margin-top: 20px;
}

.div_globlegroup_box .div_globlegroup_box_bottom
{
	margin-top: 30px;
	margin-left: 285px;
	width: 145px;
	height: 27px;
	float: left;
}

.button_globlegroup_box_cancel
{
	margin-left: 5px;
}
